*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex*
*.fdb_latexmk
*.fls
*.auxlock
*.dpth
*.log
*.md5
*figure*
*.mtc*
*.mlt*
*.mlf*
*.figlist
*.slg
*.syg
*.syi
/pdf/
